<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TAXI DISPATCHER</title>
  <link rel="stylesheet" href="leaflet/leaflet.css">
  <link rel="stylesheet" href="css/taxi.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="js/dispatcher.js" defer></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1>
    TAXI DISPATCHER
  </h1>
  <div id="page">
    <div id="my-map"></div>
    <h1>Orders</h1>
    <div class="wrapper">
      <div class="box pending">
        <h2>Pending</h2>
        <ul>
          <li v-for="order in orders" style="margin-bottom:1em;">
            # {{ order.orderId}} From: {{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }} Destination: {{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}
            <ul v-for="(item, key) in order.orderItems">
              <li v-if="item.length!=0">
                {{ key + ": " + item }}
              </li>
              <!--
              <li v-for="(item, key) in order.orderItems"><br>
                <template v-if="item!=null">
                  {{ key + ": " + item }}
                </template>
              </li>
            -->
            </ul>
            <select v-on:change="assignTaxi(order)" v-model="order.taxiId" style="margin-top:0.8em;">
              <option disabled value="">Assign a taxi</option>
              <optgroup v-for="taxi in taxis" >
              <option :value="taxi.taxiId"># {{ taxi.taxiId}} Pos: {{ taxi.latLong[0].toFixed(3) }}, {{ taxi.latLong[1].toFixed(3) }} </option>
              <option disabled v-if="taxi.taxiItems.Passengers.length!=0"> Passenger capability {{taxi.taxiItems.Passengers}}</option>
              <option disabled v-if="taxi.taxiItems.Info.length!=0" v-for="info in taxi.taxiItems.Info"> {{info}}</option>
            </optgroup>
            </select> {{ order.taxiIdConfirmed }}

          </li>
        </ul>
      </div>
      <div class="box planned">
        <h2>Scheduled</h2>
        <ul>
          <li v-for="order in plannedorders" style="margin-bottom:1em;">
            # {{ order.orderId}} From: {{ order.fromLatLong[0].toFixed(3) }}, {{ order.fromLatLong[1].toFixed(3) }} Destination: {{ order.destLatLong[0].toFixed(3) }}, {{ order.destLatLong[1].toFixed(3) }}
            <ul v-for="(item, key) in order.orderItems">
              <li v-if="item.length!=0">
                {{ key + ": " + item }}
              </li>
              <!--
              <li v-for="(item, key) in order.orderItems">
                {{ key + ": " + item }}
              </li>
            -->
            </ul>
            <select v-on:change="assignTaxi(order)" v-model="order.taxiId" style="margin-top:0.8em;">
              <option disabled value="">Assign a taxi</option>
              <optgroup v-for="taxi in taxis" >
              <option :value="taxi.taxiId"># {{ taxi.taxiId}} Pos: {{ taxi.latLong[0].toFixed(3) }}, {{ taxi.latLong[1].toFixed(3) }} </option>
              <option disabled v-if="taxi.taxiItems.Passengers.length!=0"> Passenger capability {{taxi.taxiItems.Passengers}}</option>
              <option disabled v-if="taxi.taxiItems.Info.length!=0" v-for="info in taxi.taxiItems.Info"> {{info}}</option>
            </optgroup>
            </select> {{ order.taxiIdConfirmed }}
          </li>
        </ul>
    </div>
  </div>
  </div>
</body>
</html>
