@import url('https://fonts.googleapis.com/css?family=Concert+One');

body {
  background-color: #E7E7E7;
  font-family: 'Concert One', cursive;
  text-align: center;

}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

#orders{
  background-color: white;
  padding: 5em;
  border-radius: 1em;
}

.backbtn {
  text-align: left;

}
.map {

}

.addressfields{
}

.destination{

}
.journey {
  font-size: 60pt;
  text-align: center;

}

.checkboxes {
  text-align: left;
  margin-left: 6.5em;
}

input[type="text"]
{
 width: 200px;
}

#orderInfo{
  background-color: #ffff80;
  border-style: solid;
  border-radius: 0.5px;
  border-radius: 1em;
}

.pause{
  background-color: blue;
  border-style: solid;
  border-radius: 1px;
  border-radius: 1em;
}

#ordersButton{
  color:green;
}

#pauseButton{
  color: orange;
}

#quitButton{
  color: red;
}
.driverButton{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 1em;
  font-size: 2em;
}
/*style="font-size:30pt;height:20%;width:60%;font-family: 'Josefin Sans', sans-serif;"*/
